<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torgersen - Logg inn</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        {{universal_css | safe}}
    </style>
    <style>
        {{index_css | safe}}
    </style>
</head>
<body>
    <div class="login-container">
        <img class="logo" draggable="false" src="/static/img/logo.svg" alt="Torgersen Logo">
        <h1>Logg inn</h1>
        <p class="login-warning" id="error-warning"></p>
        <form action="/login_form_handler" id="login-form" method="post">
            {% csrf_token %}
            {{form}}
            <div class="show-password-checkbox-container">
                <input type="checkbox" id="password-visibility-checkbox" class="show-password-checkbox">
                <label for="password-visibility-checkbox">Vis passord</label>
            </div>
            <button type="submit" id="login-button" title="Logg inn">Logg inn</button>
        </form>
        Har ikke en konto? <a href="/lag_konto" class="lag-konto">Lag konto.</a>
    </div>
</body>
<script>
    {{universal_js | safe}}
</script>
<script>
    {{index_js | safe}}
</script>
</html>