<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torgersen - Kontakt</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        {{universal_css | safe}}
    </style>
    <style>
        {{kontakt_css | safe}}
    </style>
</head>
<body>
    <header>
        <img draggable="false" class="header-logo" src="/static/img/logo_invert.svg" alt="Torgersen Logo">
        <div class="header-desktop-button-container">
            <a href="/hovedside">Hovedside</a>
            <div class="header-divider"></div>
            <a href="/bestill">Bestill oversettelse</a>
            <div class="header-divider"></div>
            <a href="/min_ko">Min kø</a>
            <div class="header-divider"></div>
            <a href="/logout">Logg ut</a>
        </div>
        <button class="mobile-dropdown-button" id="mobile-dropdown-button"></button>
    </header>
    <div class="mobile-dropdown-container" id="mobile-dropdown-container">
        <a href="/hovedside">Hovedside</a>
        <a href="/bestill">Bestill oversettelse</a>
        <a href="/min_ko">Min kø</a>
        <a href="/logout">Logg ut</a>
    </div>
    <div class="content">
        <h1>Kontakt Torgersen</h1>
        <p>Du kan kontakte Torgersen via e-post eller telefonnummer.</p>
        <p>E-post: <a href="mailto:kontakt@torgersen.no">kontakt@torgersen.no</a></p>
        <p>Telefon: <a href="tel:+4784632938">846 32 938</a></p>
    </div>
</body>
<script>
    {{universal_js | safe}}
</script>
<script>
    {{kontakt_js | safe}}
</script>
</html>