<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torgersen - Lag konto</title>
    <style>
        {{universal_css | safe}}
    </style>
    <style>
        {{lag_konto_css | safe}}
    </style>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit">Lag konto</button>
    </form>
</body>
<script>
    {{universal_js | safe}}
</script>
<script>
    {{lag_konto_js | safe}}
</script>
</html>