<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torgersen - Hoved side</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        {{universal_css | safe}}
    </style>
    <style>
        {{min_ko_css | safe}}
    </style>
</head>
<body>
    <header>
        <img draggable="false" class="header-logo" src="/static/img/logo_invert.svg" alt="Torgersen Logo">
        <div class="header-desktop-button-container">
            <a href="/kontakt">Kontakt</a>
            <div class="header-divider"></div>
            <a href="/bestill">Bestill oversettelse</a>
            <div class="header-divider"></div>
            <a href="/hovedside">Hovedside</a>
            <div class="header-divider"></div>
            <a href="/logout">Logg ut</a>
        </div>
        <button class="mobile-dropdown-button" id="mobile-dropdown-button"></button>
    </header>
    <div class="mobile-dropdown-container" id="mobile-dropdown-container">
        <a href="/kontakt">Kontakt</a>
        <a href="/bestill">Bestill oversettelse</a>
        <a href="/hovedside">Hovedside</a>
        <a href="/logout">Logg ut</a>
    </div>
    <div id="dark-container"></div>
    <div class="content">
        <h1>Min kø</h1>
        <p>Her kan du se dine bestillinger.</p>
        <p class="orders-warning" id="error-warning"></p>
        {% if orders %}
            {% for order in orders %}
                <div class="order-container" id="ordercontainer_{{order.id}}">
                    <b class="order-counter">#{{forloop.counter}}</b>
                    <h1>{{order.book}}</h1>
                    <i>Bestilt: {{order.timestamp}}</i>
                    <p><b>Forfatter:</b> {{order.author}}</p>
                    <p><b>Original språk:</b> {{order.translate_from}}</p>
                    <p><b>Oversett til:</b> {{order.translate_to}}</p>
                    <p><b>Beskrivelse/Mer info:</b></p>
                    <div class="order-description">
                        {{order.description}}
                    </div>
                    <button class="order-cancel-button" onclick="cancelOrderModal({{order.id}})" title="Kanseller bestilling">Kanseller bestilling</button>
                </div>
            {% endfor %}
        {% else %}
            <p>Ser ut som at du ikke har bestilt noe. Du kan bestille en oversettelse gjennom <a href="/bestill">bestillings</a> siden.</p>
        {% endif %}
    </div>
</body>
<script>
    {{universal_js | safe}}
</script>
<script>
    {{min_ko_js | safe}}
</script>
</html>